button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  vertical-align: middle;
  text-decoration: none;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.71429;
  min-width: 64px;
  max-width: 100%;
  padding: 6px 12px;
  border-radius: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  box-shadow: none;
  color: rgb(255, 255, 255);
  background-color: rgb(33, 43, 54);
}

.expanded {
  width: 100%;
}

.lg {
  padding: 6px 12px !important;
  font-size: 15px !important;
  height: 48px !important;
}
