<section class="header">
  <div class="container">
    <div class="page-info">
      <h4 class="">Create a New Product</h4>

      <!-- <div class="actions">
      <app-button (click)="onNewProduct()" label="New Product"> </app-button>
    </div> -->
    </div>
  </div>
</section>

<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
  <div class="field-sets">
    <div>
      <div class="field-set">
        <app-input id="name" label="Name" formControlName="name"></app-input>
        <app-textarea
          id="description"
          label="Description"
          formControlName="description"
        ></app-textarea>
      </div>
    </div>
    <div class="column gap-1">
      <div class="field-set">
        <div class="form-row gap-1">
          <app-input
            id="name"
            label="Product Code"
            formControlName="name"
          ></app-input>
          <app-input
            id="name"
            label="Product SKU"
            formControlName="name"
          ></app-input>
        </div>
        <div class="form-row gap-1">
          <app-input
            id="name"
            label="Quantity"
            formControlName="name"
          ></app-input>
          <app-input
            id="name"
            label="Category"
            formControlName="name"
          ></app-input>
        </div>
        <div class="form-row gap-1">
          <app-input
            id="name"
            label="Colors"
            formControlName="name"
          ></app-input>
          <app-input id="name" label="Sizes" formControlName="name"></app-input>
        </div>
        <app-input id="name" label="Tags" formControlName="name"></app-input>
      </div>
      <div class="field-set">
        <app-input
          id="regular-price"
          label="Regular Price"
          formControlName="name"
        ></app-input>
        <app-input
          id="sale-price"
          label="Sale Price"
          formControlName="description"
        ></app-input>
        <app-input
          id="sale-price"
          label="Tax (%)"
          formControlName="description"
        ></app-input>
      </div>
    </div>
  </div>

  <app-button label="Create New"></app-button>
  <!-- <app-button label="" [disabled]="!productForm.valid"></app-button> -->
</form>
