// COLORS
$color-primary: #7048e8;
$color-primary-light: #9775fa;
$color-primary-dark: #5f3dc4;

$color-secondary: #ffb900;
$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-gray: rgb(99, 115, 129);
$color-gray-light: #999;
$color-gray-dark: rgb(33, 43, 54);;

$color-white: #fff;
$color-black: #000;
