<div class="flex-row justify-between mb-4">
  <h2>Categories</h2>
  <app-button
    size="lg"
    label="Create New"
    (click)="onNavigateToCreate()"
  ></app-button>
</div>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let category of categories">
      <td>{{ category.name }}</td>
      <td>{{ category.description }}</td>
      <td class="flex-row gap-1">
        <span
          class="material-symbols-outlined"
          (click)="onNavigateToDetails(category.id!)"
        >
          visibility
        </span>
        <span
          class="material-symbols-outlined"
          (click)="onNavigateToEdit(category.id!)"
        >
          edit
        </span>
        <span
          class="material-symbols-outlined"
          (click)="onDelete(category.id!)"
        >
          delete
        </span>
      </td>
    </tr>
  </tbody>
</table>
