<aside>
  <button class="menu-button">
    <mat-icon>chevron_right</mat-icon>
  </button>
  <div class="content">
    <div>
      <nav>
        <div class="menu">
          <h3>Overview</h3>
          <ul class="">
            <li class="menu-item">
              <a
                routerLink="/dashboard"
                routerLinkActive="active-link"
                [routerLinkActiveOptions]="{ exact: true }"
                ><span class="menu-item__icon"
                  ><mat-icon
                    aria-hidden="false"
                    aria-label="Dashboard icon"
                    fontIcon="dashboard"
                  ></mat-icon
                ></span>
                <span class="menu-item__label">Overview</span></a
              >
            </li>
            <li class="menu-item">
              <a routerLink="categories" routerLinkActive="active-link">
                <span class="menu-item__icon"
                  ><mat-icon
                    aria-hidden="false"
                    aria-label="Category icon"
                    fontIcon="category"
                  ></mat-icon
                ></span>
                <span class="menu-item__label">Category</span></a
              >
            </li>
            <li class="menu-item">
              <a routerLink="products" routerLinkActive="active-link"
                ><span class="menu-item__icon"
                  ><mat-icon
                    aria-hidden="false"
                    aria-label="Category icon"
                    fontIcon="local_mall"
                  ></mat-icon></span
                ><span class="menu-item__label">Products</span></a
              >
            </li>
            <li class="menu-item">
              <a routerLink="coupons" routerLinkActive="active-link"
                ><span class="menu-item__icon"
                  ><mat-icon
                    aria-hidden="false"
                    aria-label="Category icon"
                    fontIcon="category"
                  ></mat-icon></span
                ><span>Coupons</span></a
              >
            </li>
          </ul>
        </div>
        <div class="menu">
          <h3>Business</h3>
          <ul>
            <li class="menu-item">
              <a routerLink="orders" routerLinkActive="active-link"
                ><span class="menu-item__icon"
                  ><mat-icon
                    aria-hidden="false"
                    aria-label="Trolley icon"
                    fontIcon="trolley"
                  ></mat-icon
                ></span>
                <span class="menu-item__label">Orders</span></a
              >
            </li>
            <li class="menu-item">
              <a routerLink="transactions" routerLinkActive="active-link"
                ><span class="menu-item__icon"
                  ><mat-icon
                    aria-hidden="false"
                    aria-label="Payments icon"
                    fontIcon="payments"
                  ></mat-icon
                ></span>
                <span class="menu-item__label">Transactions</span></a
              >
            </li>

            <li class="menu-item">
              <a routerLink="invoices" routerLinkActive="active-link"
                ><span class="menu-item__icon"
                  ><mat-icon
                    aria-hidden="false"
                    aria-label="Invoice icon"
                    fontIcon="receipt_long"
                  ></mat-icon
                ></span>
                <span class="menu-item__label">Invoices</span></a
              >
            </li>
          </ul>
        </div>
        <div class="menu">
          <h3>Overview</h3>
          <ul>
            <li class="menu-item">
              <a routerLink="users" routerLinkActive="active-link"
                ><span class="menu-item__icon"
                  ><mat-icon
                    aria-hidden="false"
                    aria-label="Users icon"
                    fontIcon="people_outlined"
                  ></mat-icon
                ></span>
                <span class="menu-item__label">Users</span></a
              >
            </li>
            <li class="menu-item">
              <a routerLink="settings" routerLinkActive="active-link"
                ><span class="menu-item__icon"
                  ><mat-icon
                    aria-hidden="false"
                    aria-label="Settings icon"
                    fontIcon="settings"
                  ></mat-icon
                ></span>
                <span class="menu-item__label">Settings</span></a
              >
            </li>
            <li class="menu-item">
              <a routerLink="help-center" routerLinkActive="active-link"
                ><span class="menu-item__icon"
                  ><mat-icon
                    aria-hidden="false"
                    aria-label="Help Center icon"
                    fontIcon="help"
                  ></mat-icon
                ></span>
                <span class="menu-item__label">Help Center</span></a
              >
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</aside>
