.app-input {
  cursor: text;
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  position: relative;

  label {
    line-height: 1.57143;
    font-size: 0.875rem;
    color: rgb(145, 158, 171);
  }

  input {
    border-radius: 8px;
    width: 100%;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    border-color: rgba(145, 158, 171, 0.2);
    transition: border-color 150ms;
    transition: max-width 50ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    animation-duration: 10ms;
    line-height: 1.57143;
    font-size: 0.875rem;
    font-weight: 400;
    padding: 16.5px 14px;
    font-size: 0.75em;
    inset: -5px 0px 0px;

    &:hover {
      border-color: rgb(33, 43, 54);
    }

    &:focus {
      border-color: rgb(33, 43, 54);
      border-width: 2px !important;
    }
  }

  small {
    color: red;
    line-height: 1.5;
    font-size: 0.75rem;
    font-weight: 400;
    text-align: left;
    margin: 8px 14px 0px;
  }
}
