<div class="mb-5">
  <h4 class="mb-3 text-lg font-bold">Sign in to BuyMall</h4>
  <div class="flex-row">
    <p class="font-normal">New user?&nbsp;</p>
    <a
      class="font-semibold text-primary"
      [routerLink]="['./']"
      [fragment]="AuthMode.SignUp"
      >Create an account</a
    >
  </div>
</div>
<form
  class="flex-col gap-2"
  #signinFrom="ngForm"
  (ngSubmit)="onSubmit(signinFrom)"
>
  <div class="input">
    <label htmlFor="email">Email</label>
    <div>
      <input
        inputFocus
        id="email"
        type="text"
        ngModel
        name="email"
        #email="ngModel"
      />
      <fieldset>
        <legend><span>Email</span></legend>
      </fieldset>
    </div>
  </div>
  <small *ngIf="!email.valid && email.touched"></small>
  <div class="input">
    <label htmlFor="password">Password</label>
    <div>
      <input
        inputFocus
        id="password"
        type="password"
        ngModel
        name="password"
        #password="ngModel"
      />
      <fieldset>
        <legend><span>Password</span></legend>
      </fieldset>
    </div>
  </div>
  <small *ngIf="!password.valid && password.touched"></small>
  <a class="underline text-right" routerLink="/auth/forgot-password">Forgot password?</a>
  <app-button
    label="Create account"
    size="lg"
    [expanded]="true"
    [isLoading]="isLoading"
  ></app-button>
</form>
