<footer class="relative pt-8 pb-11">
  <div class="container-xl mx-auto px-7">
    <div class="flex justify-between row-reverse">
      <nav class="nav flex justify-around items-start text-start">
        <div>
          <h2>Links</h2>
          <ul>
            <li><a href="/features">Features</a></li>
            <li><a href="/pricing">Pricing</a></li>
            <li><a href="https://developer.polymer.co">API</a></li>
            <li><a href="https://app.polymer.co/auth">Sign up</a></li>
            <li><a href="https://app.polymer.co/auth">Log in</a></li>
          </ul>
        </div>
        <div>
          <h2>Resources</h2>
          <ul>
            <li><a href="https://help.polymer.co/">Help docs</a></li>
            <li>
              <a
                href="https://help.polymer.co/en/collections/2544541-quick-start-guide"
                >Quick start guide</a
              >
            </li>
            <li><a href="/changelog">Changelog</a></li>
            <li><a href="/blog">Blog</a></li>
          </ul>
        </div>
        <div>
          <h2>Company</h2>
          <ul>
            <li><a href="/about">About us</a></li>
            <li><a href="/privacy">Privacy policy</a></li>
            <li><a href="/terms">Terms of service</a></li>
            <li>
              <a class="intercom-launcher" href="mailto:support@polymer.co"
                >Contact us</a
              >
            </li>
            <li><a href="https://discord.gg/MgQxHMYZFN">Discord</a></li>
            <li><a href="https://twitter.com/withPolymer">Twitter</a></li>
          </ul>
        </div>
      </nav>
      <div class="info flex-col items-start text-start">
        <a class="mb-4" href="/">
          <div class="">
            <span>BUYMALL</span>
          </div></a
        >
        <p class="text-sm mb-5">
          Building coordination tools for organizations <br />of all shapes and
          sizes. Hiring is just the start.
        </p>
        <!-- <a
          href="https://www.producthunt.com/posts/wrk?utm_source=badge-featured&amp;utm_medium=badge&amp;utm_souce=badge-wrk"
          target="_blank"
          rel="noreferrer"
          class="css-15ij8id-ProductHunt_Badge e1iyxpze2 mb-5"
          ><span
            style="
              box-sizing: border-box;
              display: inline-block;
              overflow: hidden;
              width: initial;
              height: initial;
              background: none;
              opacity: 1;
              border: 0;
              margin: 0;
              padding: 0;
              position: relative;
              max-width: 100%;
            "
            ><span
              style="
                box-sizing: border-box;
                display: block;
                width: initial;
                height: initial;
                background: none;
                opacity: 1;
                border: 0;
                margin: 0;
                padding: 0;
                max-width: 100%;
              "
              ><img
                style="
                  display: block;
                  max-width: 100%;
                  width: initial;
                  height: initial;
                  background: none;
                  opacity: 1;
                  border: 0;
                  margin: 0;
                  padding: 0;
                "
                alt=""
                aria-hidden="true"
                src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%27204%27%20height=%2744%27/%3e" /></span
            ><img
              alt="Polymer - Hiring made simple | Product Hunt Embed"
              src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=194334&amp;theme=dark"
              decoding="async"
              data-nimg="intrinsic"
              style="
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                box-sizing: border-box;
                padding: 0;
                border: none;
                margin: auto;
                display: block;
                width: 0;
                height: 0;
                min-width: 100%;
                max-width: 100%;
                min-height: 100%;
                max-height: 100%;
              " /><noscript
              ><img
                alt="Polymer - Hiring made simple | Product Hunt Embed"
                src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=194334&amp;theme=dark"
                decoding="async"
                data-nimg="intrinsic"
                style="
                  position: absolute;
                  top: 0;
                  left: 0;
                  bottom: 0;
                  right: 0;
                  box-sizing: border-box;
                  padding: 0;
                  border: none;
                  margin: auto;
                  display: block;
                  width: 0;
                  height: 0;
                  min-width: 100%;
                  max-width: 100%;
                  min-height: 100%;
                  max-height: 100%;
                "
                loading="lazy" /></noscript></span
        ></a> -->
        <p>© 2023 Devdezyn, Inc.</p>
      </div>
    </div>
  </div>
</footer>
