.table {
  // font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  th,
  tr {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr {
    border-bottom: 1px solid #ddd;

    &:nth-child(even) {
      background-color: #dddddd;
    }
  }
}
