.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.wrap {
  flex-wrap: wrap;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;

  &.wrap {
    flex-wrap: wrap;
  }

  &.no-wrap {
    flex-wrap: nowrap;
  }
}

.row-reverse {
  flex-direction: row-reverse;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-end {
  justify-content: flex-end;
}

.items-start {
  align-items: flex-start;
}

.items-center {
  align-items: center;
}

.items-between {
  align-items: space-between;
}

.items-end {
  align-items: flex-end;
}

.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
  display: flex;
}

.col-6 {
  flex: 0 0 50% !important;
  max-width: 50%;
}
